{% extends "base.html" %}
{% block body %}

<link href="/static/css/advanced.css" rel="stylesheet">

<div id="advancedpage" class="clear">
    {% if lid != None: %}
    <h2 id="title" lid="{{ lid }}">
        Light "{{ name }}"
    </h2>
    {% else %}
    <h2 id="title" gid="{{ gid }}">
        Group "{{ name }}"
    </h2>
    {% endif %}

    <div id="basic_settings" class="box box-en">
        <h3>Basic Settings</h3>
        <p>
            <h4>Turn on at:</h4>
            <form>
                <input type="radio" name="time_on" value=""> None<br>
                <input type="radio" name="time_on" value="sunset"> Sunset<br>
                <input type="radio" name="time_on" value="sunrise"> Sunrise<br>
                <input type="radio" name="time_on" value="other"> Time: <input type="time" name="time_on" value="18:00"><br>
            </form>
        </p>

        <p>
            <h4>Turn off at:</h4>
            <form>
                <input type="radio" name="time_off" value=""> None<br>
                <input type="radio" name="time_off" value="sunset"> Sunset<br>
                <input type="radio" name="time_off" value="sunrise"> Sunrise<br>
                <input type="radio" name="time_off" value="other"> Time: <input type="time" name="time_off" value="08:00"><br>
            </form>
        </p>

        <p>
            <h4>Turn on during:</h4>
            <form>
                {% for i, day in enumerate(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']): %}
                <input type="checkbox" name="dow" value="{{ i }}"> {{ day }}<br>
                {% endfor %}
            </form>
            <form>
               <input type="range" style="max-width:20%" id="brightness" value="brightness">Brightness: <label style="dispaly:inline-block" id="rangetext"><br>
            </form>
        </p>
    </div>

    <div id="advanced_settings" class="box box-en">
        <h3>Advanced Settings</h3>
        <p>
            <h4>On time:</h4>
            <form>
                Toggle early: <input type="text" name="time_on_early" placeholder="hh:mm"><br>
                Toggle late: <input type="text" name="time_on_late" placeholder="hh:mm"><br>
                Note: If both are specified, light will be toggled randomly within the period
            </form>
        </p>

        <p>
            <h4>Off time:</h4>
            <form>
                Toggle early: <input type="text" name="time_off_early" placeholder="hh:mm"><br>
                Toggle late: <input type="text" name="time_off_late" placeholder="hh:mm"><br>
                Note: If both are specified, light will be toggled randomly within the period
            </form>
        </p>

        <p>
            <h4>Turn on during the given year/month/day range:</h4>
            <form>
                <br>
                <input class="range" type="text" name="year_on" size="4" placeholder="2016">
                <input class="range" type="text" name="month_on" size="2" placeholder="05">
                <input class="range" type="text" name="day_on" size="2" placeholder="23">
                <br>
                <input class="range" type="text" name="year_off" size="4" placeholder="2016">
                <input class="range" type="text" name="month_off" size="2" placeholder="06">
                <input class="range" type="text" name="day_off" size="2" placeholder="02">
                (assumes same as start date if left blank)
                <br>
                Note: It is possible to only specify certain fields, e.g. start in May and end in July, or start on the 1st of the month and end on the 20th.
            </form>
        </p>

        <p>
            <h4>Toggle based on the following system:</h4>
            <form>
                <br>
                <input type="radio" name="hierarchy" value="parent"> Use the parent group's settings<br>
                <input type="radio" name="hierarchy" value="own"> Use custom settings<br>
                <input type="radio" name="hierarchy" value="or"> Turn on with both custom settings and parent group's settings<br>
                <input type="radio" name="hierarchy" value="and"> Turn on with the custom settings only if the parent group allows it<br>
                <input type="radio" name="hierarchy" value="manual"> Always control this light manually<br>
            </form>
        </p>
    </div>

    <div id="custom_query" class="box">
        <p>
            <h3>Custom Query</h3>
            <form>
                <input type="checkbox" name="custom_query_override"> Create an advanced query manually
            </form>
            <textarea id="query" rows="4" disabled></textarea>
        <p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
<script src='/static/js/bootstrap-switch.js'></script>
<script src='/static/js/bootstrap-editable.min.js'></script>
<script src='/static/js/jquery-sortable.js'></script>
<script src="/static/js/advanced.js"></script>
<script>readquerydata({{ querydata|tojson }});</script>
{% endblock %}
