{% extends "base.html" %}
{% block body %}

Advanced query:<br>
<textarea id="query" rows="4" cols="50"></textarea>

<p>
    <form>
        <input type="radio" name="hierarchy" value="group"> Use the parent group's settings<br>
        <input type="radio" name="hierarchy" value="own" checked> Override group settings completely<br>
        <input type="radio" name="hierarchy" value="or"> Turn on using the following settings and also with the group's settings<br>
        <input type="radio" name="hierarchy" value="and"> Turn on using the following settings, but only if the group's settings also allow it<br>
        <input type="radio" name="hierarchy" value="manual"> Control this light manually<br>
    </form>
</p>

<p>
    Turn on at:
    <form>
        <input type="radio" name="time_on" value="sunset" checked> Sunset<br>
        <input type="radio" name="time_on" value="sunrise"> Sunrise<br>
        <input type="radio" name="time_on" value="other"> Time:
        <form>
            <input type="time" name="time_on">
        </form>
    </form>
</p>
<p>
    Turn off at:
    <form>
        <input type="radio" name="time_off" value="sunset"> Sunset<br>
        <input type="radio" name="time_off" value="sunrise" checked> Sunrise<br>
        <input type="radio" name="time_off" value="other"> Time:
        <form>
            <input type="time" name="time_off">
        </form>
    </form>
</p>

<p>
    Only turn on during the following days of the week:
    <form>
        {% for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]: %}
        <input type="checkbox" name="day" value="{{ day.lower() }}"> {{ day }}<br>
        {% endfor %}
    </form>
</p>

<p>
    Only turn on between specific dates:
    <form>
        <input type="text" name="day" value="{{ i }}"> {{ day }}<br>
    </form>
</p>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
<script src='/static/js/bootstrap-switch.js'></script>
<script src='/static/js/bootstrap-editable.js'></script>
<script src='/static/js/jquery-sortable.js'></script>
<script>
    $(function  () {
      $("ol.vertical").sortable();
    });
    $.fn.bootstrapSwitch.defaults.size = 'mini';
/*      $.fn.bootstrapSwitch.defaults.handleWidth = '10';
    $.fn.bootstrapSwitch.defaults.onText = '';
    $.fn.bootstrapSwitch.defaults.offText = ' ';*/
    $("[name='checkbox-light']").bootstrapSwitch();
    $("[name='checkbox-group']").bootstrapSwitch('indeterminate', true, true);

    //$('#edit').editable();
</script>
<script src="/static/js/advanced.js"></script>
{% endblock %}
