{% if isLight(e) %}
<li style="margin: 10px;">
  <span name="handle" class="glyphicon glyphicon-move"></span>
  <input type="checkbox" name="checkbox-light" checked>
  <span float='left' class="edit" data-name="light" data-pk="{{ e.id }}">{{ e.name }}</span>
  <a href="advanced?id={{ e.id }}&name=light" style="float: right;">
    <span class="glyphicon glyphicon-cog"></span>
  </a>
</li>
{% else %}
<li>
<span name="handle" class="glyphicon glyphicon-move"></span>
<input type="checkbox" name="checkbox-group" checked>
<span float='left' class="edit" data-name="group" data-pk="{{ e.id }}">{{ e.name }}</span>
<a href="#" style="float: right; color: red;">
  <span class="glyphicon glyphicon-remove"></span>
</a>
<a href="advanced?id={{ e.id }}&name=group" style="float: right;">
  <span class="glyphicon glyphicon-cog"></span>
</a>
<ol>
  {% for e in e.groups %}
  {% include "grouplight.html" %}
  {% endfor %}
  {% for e in e.lights %}
  {% include "grouplight.html" %}
  {% endfor %}
</ol>
</li>
{% endif %}
