{% extends "base.html" %}
{% block body %}
<ol class='vertical grouplights'>
  {% with e=root_group %}
  {% include "grouplight.html" %}
  {% endwith %}
</ol>
<button id="add_group" type="button" class="btn btn-primary" style="float: right;">
  <span class="glyphicon glyphicon-plus"></span> New Group
</button>
 <!-- <a href="#" id="edit" data-type="text">superuser</a> -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link href="/static/css/index.css" rel="stylesheet">
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
<script src='/static/js/bootstrap-switch.js'></script>
<script src='/static/js/bootstrap-editable.min.js'></script>
<script src='/static/js/jquery-sortable.js'></script>
<script>
    $(function  () {
      $("ol.vertical ol:first").sortable({
        handle: "[name='handle']",
        onDrop: function(item, container, _super) {
          data_str = 'parent_id=' + item.parent().parent().attr('gid');
          if(item[0].hasAttribute('gid')) {
            data_str += '&gid=' + item.attr('gid');
          }
          else {
            data_str += '&lid=' + item.attr('lid');
          }

          $.ajax({
              url: "/change_parent",
              global: false,
              type: "POST",
              cache: false,
              data: data_str,
              success: function(response){
                console.log(response);
              }
          });
          _super(item, container);
        }
      });
    });

    $("ol.vertical li [name='handle']:first").remove()
    $("ol.vertical li [name='delete-button']:first").remove()


    $.fn.bootstrapSwitch.defaults.size = 'small';


    $("[name='checkbox-light']").bootstrapSwitch();
    $("[name='checkbox-group']").bootstrapSwitch();
    groups = $("li[gid]")
    for (var i = 0; i < groups.length; i++) {
       refresh_group_state(groups[i]);
       console.log("hi")
    }


    $.fn.editable.defaults.mode = 'inline';
    $.fn.editable.defaults.showbuttons = false;
    $.fn.editable.defaults.url = '/change_name';
    $.fn.editable.defaults.type = 'text';
    $(".edit").editable();
</script>
{% endblock %}
