{% extends "base.html" %}
{% block body %}
<ol class='vertical'>
  {% for e in groups %}
  {% include "grouplight.html" %}
  {% endfor %}
</ol>
<button onclick="new_group();" type="button" class="btn btn-primary" style="float: right;">
  <span class="glyphicon glyphicon-plus"></span> New Group
</button>
 <!-- <a href="#" id="edit" data-type="text">superuser</a> -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
<script src='/static/js/bootstrap-switch.js'></script>
<script src='/static/js/bootstrap-editable.min.js'></script>
<script src='/static/js/jquery-sortable.js'></script>
<script>
    $(function  () {
      $("ol.vertical").sortable({
        handle: "[name='handle']"
      });
    });
    $.fn.bootstrapSwitch.defaults.size = 'mini';
    $.fn.bootstrapSwitch.defaults.handleWidth = '10';
    $.fn.bootstrapSwitch.defaults.onText = '&nbsp';
    $.fn.bootstrapSwitch.defaults.offText = '&nbsp';
    $("[name='checkbox-light']").bootstrapSwitch();
    $("[name='checkbox-group']").bootstrapSwitch('indeterminate', true, true);

    $.fn.editable.defaults.mode = 'inline';
    $.fn.editable.defaults.showbuttons = false;
    $.fn.editable.defaults.url = '/change_name';
    $.fn.editable.defaults.type = 'text';
    $(".edit").editable();
    function new_group() {
      var form = document.createElement('form');
      form.setAttribute('method', 'post');
      form.setAttribute('action', 'new_group');
      form.style.display = 'hidden';
      document.body.appendChild(form)
      form.submit();
    }
</script>
{% endblock %}
