<nav id="navbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/">Pilight</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarCollapse">
         <ul class="nav navbar-nav">
            {% if g.user is none %}
            <li><a href="login">Login</a></li>
            {% endif %}
            {% if g.user is not none %}
            <li><a href="logout">Logout</a></li>
            {% endif %}
            <li><a href="settings">Settings</a></li>
            <li><a href="devices">Manage Devices</a></li>
         </ul>
      </div>
   </div>
</nav>
