{% extends "base.html" %}
{% block body %}
<table class='table table-bordered'>
  <tr>
    <td><label for="region">Region:</label></td>
    <td>
      <select class="form-control" id="region">
        {% for region in regions %}
        <option value="{{ region }}">{{ region.title() }}</option>
        {% endfor %}
      </select>
    </td>
  </tr>
  <tr>
    <td><label for="city">City:</label></td>
    <td>
      <select class="form-control setting" id="city"></select></td>
  </tr>
</table>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
<script src='/static/js/bootstrap-switch.js'></script>
<script src='/static/js/bootstrap-editable.min.js'></script>
<script src='/static/js/jquery-sortable.js'></script>
<script>
  $("#region").change(function(){
    $.ajax({
        url: "/select_region",
        global: false,
        type: "POST",
        data: "region=" + $("#region option:selected").val(),
        cache: false,
        success: function(response){
           $("#city").empty();
           $("#city").append(response);
           $("#city").change()
        }
    });
  });
  $("select.setting").change(function(){
    $.ajax({
        url: "/save_setting",
        global: false,
        type: "POST",
        data: "name=" + $(this).attr("id") + "&value=" + $(this).find("option:selected").val(),
        cache: false,
        success: function(response){
           console.log(response);
        }
    });
  });
  $("input.setting").change(function(){
    $.ajax({
        url: "/save_setting",
        global: false,
        type: "POST",
        data: "name=" + $(this).attr("id") + "&value=" + $(this).val(),
        cache: false,
        success: function(response){
           console.log(response);
        }
    });
  });
  $('#region').val("{{ region }}")
  $('#region').change()

  for (var i = 0; i < $('.setting').length; i++){
    setting = $($('.setting')[i])
    setting.val({{ settings|tojson }}[setting.attr('id')])
  }
</script>
{% endblock %}
