#main {
    margin: 0 auto;
    width: 100%;
}
#leftside {
    float: left;
    width: 50%;
}
#rightside {
    float: right;
    width: 42%;
}
.clear:after {
    clear: both;
    display: table;
    content: "";
}
.box-en {
    background-color: #f8f8ff;
}
.box {
    margin: 2%;
    padding: 1%;
}
#query {
    width: 150%;
}
.rule {
    width: 300%;
}
ol.vertical li.baserule {
    display: none;
}
.deleterule, .editrule {
    float: right;
}
.deleterule {
    color: red;
}
