ol.vertical ol, ol.vertical {
	margin: 0;
	padding: 0;
	margin-left: 10px;
}
.editable-container div{
  display: inline-block;
}
li.droppable {
	min-height: 42px;
}
li .glyphicon {
	font-size: 20px;
	line-height: inherit;
	vertical-align: middle;
}
li a.glyphicon {
	text-decoration: none;
	float: right;
}
li a.glyphicon-remove {
	color: red;
}