ol.grouplights {
	min-width: 350px;
}
ol.vertical ol, ol.vertical {
	margin: 0;
	padding: 0;
	margin-left: 10px;
}
.editable-container div{
  display: inline-block;
}
li.droppable {
	min-height: 42px;
}
li.droppable[lid] {
	max-height: 42px;
	display: block;
}
li .glyphicon {
	font-size: 20px;
	line-height: inherit;
	vertical-align: middle;
}
li a.glyphicon {
	text-decoration: none;
	float: right;
}
li a.glyphicon-remove {
	color: red;
}
.edit {
	white-space: nowrap;
}

@media only screen and (max-device-width: 480px) {
	/* These will help conserve screen real-estate when viewed on a mobile device */
	ol.vertical ol, ol.vertical {
		margin-left: 0px;
	}
}
.time-clock {
	height:30px;
    text-align: left; 
	position:fixed;
    color: gray;
	bottom:0;
	left:0;
	margin-left: 10px;
}